<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peisia.mapper.GuestMapper">
	
	<select id="getPageCount" resultType="int">
		SELECT COUNT(*) FROM tbl_guest WHERE btext LIKE CONCAT('%',#{searchword},'%');
	</select>

	<select id="searchList" resultType="com.peisia.domain.GuestVO">
		SELECT * from tbl_guest WHERE btext LIKE CONCAT('%',#{searchword},'%') limit #{limitIndex}, 5;
	</select>
	
	<select id="read" resultType="com.peisia.domain.GuestVO">
		select * from tbl_guest where bno = #{bno}
	</select>	
	
	<delete id="del">
		delete from tbl_guest where bno = #{bno}
	</delete>
		
	<insert id="write">
		insert into tbl_guest (btext) values (#{btext})
	</insert>		
	
	
	<update id="modify">
		update tbl_guest
		set btext = #{btext}
		where bno = #{bno}
	</update>
</mapper>