<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peisia.mapper.BoardMapper">

<!-- 글 목록 -->
<select id="getList" resultType="com.peisia.dto.BoardDto">
select * from springBoard
</select>

<!-- 글 쓰기 -->
<insert id="write">
insert into springBoard(title, id, text) values(#{title}, #{id}, #{text})
</insert>
</mapper>